<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/optivem/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="github">
      <package pattern="Optivem.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="xunit*" />
      <package pattern="Shouldly" />
      <package pattern="DiffEngine" />
      <package pattern="EmptyFiles" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="System.Reflection.Metadata" />
    </packageSource>
  </packageSourceMapping>
</configuration>
